<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On

RewriteCond $1 !^(home)
RewriteCond $1 !^(rockmongo)
RewriteCond $1 !^(try)
RewriteCond $1 !^(demo)
	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
</IfModule>
